.container {
  background-color:bisque;
  padding: 35px;
  border: 3px solid black;
}
body{
  background-color: brown;
  font-size: 20px;
}
.jumbotron{
  text-align: center;
  color: white;
  background-color: red;
  text-shadow: 0 0 20px darkred;
  border-bottom: 20px solid darkred;
}
.jumbotron h1 {
  font-size: 84px;
  font-family: cursive;
}
h3 {
  font-size: 34px;
}
button {
  color: white;
  font-family: sans-serif;
  background-color: darkred;
  padding: 5px;
}
img {
  width:200px;
}
#yourorder, #address, #thanks {
  display: none;
}
.toppings label.checkbox{
  margin-left: 20px;
}
#disclaimer {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  font-size: 22px;
  border: 2px solid black;
  padding: 10px;
  width: 50%;
  background-color: white;
}
#thanks{
  font-weight: bold;
  font-family: cursive;
  font-size: 22px;
  margin-top: 10px;
}
#pizzacol{
  padding-left: 25px;
}
#confirmaddress{
  margin-top: 10px;
}
#pickupconfirm{
  margin-top: 20px;
}
#yourorder{
  text-align: center;
  background-color: white;
  border: 2px solid black;
  padding: 25px;
  margin-top: 25px;
  height: 500px;
}
#delorpick{
  margin-top: 0;
}
